body {
  margin: 0;
  background-color: #69128d;
  font-family: tahoma;
}

.container {
  width: 880px;
  padding-top: 195px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  line-height: 60px;
  font-family: lobster;
}

@font-face {
  font-family: lobster;
  src: url(https://netology-code.github.io/html-2-homeworks/flex-elements-positioning/font-face/fonts/lobster-regular.woff);
  font-weight: 400;
  font-style: normal;
}
